/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
    /*background: black; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #45a36e;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /*background: red; */
}
